<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>hosted payment sdk simulator ★ shopify</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="<%= @base_path %>/pure-min.css">
  <link rel="stylesheet" href="<%= @base_path %>/style.css">
  <link rel="stylesheet" href="<%= @base_path %>/tipr.css">
</head>
<body>
<div class="pure-g">
  <div class="pure-u-1-1 main-box">
    <div class="center">
      <img style="vertical-align: middle;" src="<%= @base_path %>/shopify.png"/>
      <span class="title">hosted payment sdk sim</span>
      <a class="pure-button button-small" href="https://github.com/Shopify/offsite-gateway-sim">
          <i class="fa fa-github"></i>
          GitHub
      </a>
    </div>
    <%= yield %>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="<%= @base_path %>/tipr.js"></script>
<script>
  $(document).ready(function() {
    $('.tip').tipr();
    $('a.execute').on('click',function(){
      data = <%= fields.to_json %>
      action = $(this).attr('data-result')
      fire_callback = $(this).attr('data-callback')
      url = "execute/" + action + "?fire_callback=" + fire_callback
      $.post(url, data, function(result) {
        hash = $.parseJSON(result)
        if (hash.redirect)
          window.location = hash.redirect
        else
          $('#result').html('<pre>' + result + '</pre>')
      });
    })
  });
</script>
</body>
</html>
